//Varialbles
$colorPrincipal: rgb(0, 255, 21);
$colorsecundario: rgb(255, 255, 255);
$colorTerciario:rgb(0, 0, 0);
$colorTipografia_1:rgb(255, 255, 255);

//Funtes
$fuenteTitel :'Homenaje', sans-serif;
$funtetxt:'Inconsolata', monospace;