{% extends 'bootstrap/base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {%
block head %} {{ super() }}

<title>{% block title %}Flask Platzi |{% endblock %}</title>

{% endblock %} {% block body %} {% block navbar %} {% include 'navbar.html' %}
{% endblock %}
<!--TODO: mensajes de aletra para inicio de seccion y demas funciones-->
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible">
  <button type="button" data-dismiss="alert" class="close">X</button>

  {{ message }}
</div>

{% endfor %}
<!--FIXME: mensajes Fin 🤙 -->
{% block content %}
<!--Incio de formalario!-->

<dir class="container">
  <!-- TODO:CLASE 17-  PRIMRA FORMA PARA MOSTRAR FORMULARIOS JUNTO CON LOS CAMPOS DE FRON-END -->
  <form action="{{ url_for('base') }}" method="POST"></form>
  {{ Login_From.username }} {{ Login_From.username.label }}

  <!--FIXME: SEGUNDA FORMA CON WTF PARA FORMULARIOS Y BOOTSTRAP-->
  {{ wtf.quick_form(Login_From) }} {% if username %}
  <h2>Bienbenido {{ username | capitalize }}</h2>
  {% endif %} {% if user_ip %}
  <h4>Es tu ip, {{ user_ip }}</h4>
  {% endif %}
</dir>

{% endblock %}

<!-- Importar archivos de javaScrits - de bootstrap -->

{% block scripts %} {{ super() }} {% endblock %}

<!-- Importar FIN 🤙 -->

{% endblock %}
